<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035746945209-liaq6nerf8ckb7gf9g95i9c3o9ifb8rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035746945209-liaq6nerf8ckb7gf9g95i9c3o9ifb8rk</string>
	<key>API_KEY</key>
	<string>AIzaSyCIyHNw2aJKapDi_0oc7lbRcAu9KktE2vs</string>
	<key>GCM_SENDER_ID</key>
	<string>1035746945209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.coffeesolution.chatapp</string>
	<key>PROJECT_ID</key>
	<string>cs-chat-app-eac8a</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-chat-app-eac8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035746945209:ios:f9c84e36139abe79905368</string>
</dict>
</plist>